[Unit]
Description=Create MWAN boot trace ID file
DefaultDependencies=no
After=local-fs.target
Before=network-pre.target systemd-networkd.service networkd-dispatcher.service
Wants=network-pre.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/mwan trace-boot

[Install]
WantedBy=multi-user.target
